Create a pandas dataframe(DataFrame as 'df') with numpy random values (4 features and 4 observations.

In [ ]:
import pandas as pd
import numpy as np
Features=np.random.rand(4)
Observations=np.random.rand(4)
df=pd.DataFrame([Features,Observations])
df

          0         1         2         3
0  0.913805  0.363628  0.398327  0.004700
1  0.743411  0.968493  0.707849  0.693151

Rename the task 1 'df' dataframe column names to 'Random value 1','Random value 2','Random value 3'&'Random value 4'.

In [ ]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.913805        0.363628        0.398327        0.004700
1        0.743411        0.968493        0.707849        0.693151

Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.828608        0.666061        0.553088        0.348925
std          0.120487        0.427705        0.218865        0.486808
min          0.743411        0.363628        0.398327        0.004700
25%          0.786010        0.514844        0.475707        0.176813
50%          0.828608        0.666061        0.553088        0.348925
75%          0.871207        0.817277        0.630468        0.521038
max          0.913805        0.968493        0.707849        0.693151

In [ ]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.828608        0.666061        0.553088        0.348925
std          0.120487        0.427705        0.218865        0.486808
min          0.743411        0.363628        0.398327        0.004700
25%          0.786010        0.514844        0.475707        0.176813
50%          0.828608        0.666061        0.553088        0.348925
75%          0.871207        0.817277        0.630468        0.521038
max          0.913805        0.968493        0.707849        0.693151

Check for the null values in df and find the datatype of the columns.

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  2 non-null      float64
 1   Random value 2  2 non-null      float64
 2   Random value 3  2 non-null      float64
 3   Random value 4  2 non-null      float64
dtypes: float64(4)
memory usage: 192.0 bytes

Display the 'random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
df.loc[0:1,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.363628        0.398327
1        0.968493        0.707849

In [ ]:
df.iloc[0:2,1:3]

   Random value 2  Random value 3
0        0.363628        0.398327
1        0.968493        0.707849