#Task-1

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
# Read the dataset
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [8]:

label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['BP'] = label_encoder.fit_transform(df['BP'])
df['Cholesterol'] = label_encoder.fit_transform(df['Cholesterol'])
df['Drug'] = label_encoder.fit_transform(df['Drug'])

scaler = StandardScaler()
df[['Age', 'Na_to_K']] = scaler.fit_transform(df[['Age', 'Na_to_K']])

In [14]:
# Split the data into input features (X) and target variable (y)
X = df.drop('Drug', axis=1).values
y = pd.get_dummies(df['Drug']).values

In [15]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Task-2

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Build the ANN model
model = Sequential()
model.add(Dense(64, input_dim=5, activation='relu'))  # Input layer
model.add(Dense(128, activation='relu'))  # Hidden layer 1
model.add(Dense(256, activation='relu'))  # Hidden layer 2
model.add(Dense(128, activation='relu'))  # Hidden layer 3
model.add(Dense(64, activation='relu'))  # Hidden layer 4
model.add(Dense(32, activation='relu'))  # Hidden layer 5
model.add(Dense(5, activation='softmax'))  # Output layer

In [ ]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [17]:
model.fit(X_train,y_train,epochs=10,batch_size=1,validation_data=(X_test,y_test))

Epoch 1/10
160/160 [==============================] - 2s 4ms/step - loss: 0.9586 - accuracy: 0.6500 - val_loss: 0.6901 - val_accuracy: 0.8250
Epoch 2/10
160/160 [==============================] - 1s 3ms/step - loss: 0.5153 - accuracy: 0.8313 - val_loss: 0.5353 - val_accuracy: 0.8000
Epoch 3/10
160/160 [==============================] - 0s 3ms/step - loss: 0.3167 - accuracy: 0.8687 - val_loss: 0.2465 - val_accuracy: 0.9500
Epoch 4/10
160/160 [==============================] - 1s 3ms/step - loss: 0.2906 - accuracy: 0.8938 - val_loss: 0.3003 - val_accuracy: 0.9000
Epoch 5/10
160/160 [==============================] - 1s 3ms/step - loss: 0.2614 - accuracy: 0.9187 - val_loss: 0.2397 - val_accuracy: 0.9500
Epoch 6/10
160/160 [==============================] - 0s 3ms/step - loss: 0.2115 - accuracy: 0.9375 - val_loss: 0.4717 - val_accuracy: 0.8500
Epoch 7/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0963 - accuracy: 0.9563 - val_loss: 0.0745 - val_accuracy: 0.9750
Epoch 8/10
160/160 [==============================] - 1s 3ms/step - loss: 0.1466 - accuracy: 0.9750 - val_loss: 0.0451 - val_accuracy: 1.0000
Epoch 9/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0597 - accuracy: 0.9750 - val_loss: 0.1724 - val_accuracy: 0.9500
Epoch 10/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0975 - accuracy: 0.9688 - val_loss: 0.0185 - val_accuracy: 1.0000

#Task-3

In [18]:
random_data = [[23, 0, 0, 0, 1.0]]  
predictions = model.predict(random_data)
predicted_class = label_encoder.inverse_transform([predictions.argmax()])
print("Predicted drug class:", predicted_class)

1/1 [==============================] - 0s 105ms/step
Predicted drug class: ['drugB']